<div class="wrapper">
  <!-- Preloader -->
  <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img
      class="animation__shake"
      src="assets/img/AdminLTELogo.png"
      alt="AdminLTELogo"
      height="60"
      width="60"
    />
  </div> -->

  <!-- Navbar -->
  <app-nav-bar></app-nav-bar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-side-bar [title]="title"></app-side-bar>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>

  <!-- Footer Area -->
  <app-footer></app-footer>
</div>
<!-- ./wrapper -->
